*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    border: 0;
}

ul,
ol,
li {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

html:focus-within {
    scroll-behavior: smooth;
}

* html .flexslider .slides {
    height: 1%;
}

body {
    min-height: 100vh;
    margin: 0;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

body,
input,
button,
textarea,
select,
option,
footer,
aside,
optgroup {
    font: inherit;
    line-height: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
select {
  text-transform: none;
}

.uppercase {
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 6px;
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
}

/* Buttons */
.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Josefin Slab", Arial, serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 15px;
}

.btn:hover,
.btn:active,
.btn:focus {
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary {
    text-decoration: none;
    background: #1d2f3b;
    color: #fff;
    border: 2px solid #1d2f3b;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #1d2f3b;
    background: #fbf2eb !important;
    border-color: #253d4c !important;
}

.btn-success {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    color: #5cb85c;
    background: #fbf2eb !important;
    border-color: #5cb85c !important;
}

.btn-warning {
    background: #f0ad4e;
    color: #fff;
    border: 2px solid #f0ad4e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
    background: #eea236 !important;
    border-color: #eea236 !important;
}

.btn-danger {
    background: #d9534f;
    color: #fff;
    border: 2px solid #d9534f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important;
}

.btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    box-shadow: none;
}

.btn-lg {
    padding: 18px 36px !important;
}

.admin-btn {
    margin-top: 15px;
    padding: 15px;
    background-color: #fbf2eb;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container:before,
.container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.js .animate-box {
    opacity: 0;
}

.blog h3 a {
    text-decoration: none;
}

/* Social Icons */
.social-icons {
    text-decoration: none;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #1d2f3b;
    padding-left: 8px;
    text-decoration: none;
    font-size: 20px;
}

.social-icons:hover {
    color: black;
}

.social-icons i {
    font-size: 20px;
}

/* Animation */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated-fast {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        visibility: hidden;
        /*-webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);*/
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    to {
        opacity: 1;
        /*visibility: visible;*/
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        visibility: hidden;
        /*-webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);*/
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    to {
        visibility: visible;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.col-xs-1,
.col-sm-1,
.col-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}

.col-xs-1 {
    width: 8.33333%;
}

.col-xs-2 {
    width: 16.66667%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-4 {
    width: 33.33333%;
}

.col-xs-5 {
    width: 41.66667%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-7 {
    width: 58.33333%;
}

.col-xs-8 {
    width: 66.66667%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-10 {
    width: 83.33333%;
}

.col-xs-11 {
    width: 91.66667%;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-pull0 {
    right: auto;
}

.col-xs-pull1 {
    right: 8.33333%;
}

.col-xs-pull2 {
    right: 16.66667%;
}

.col-xs-pull3 {
    right: 25%;
}

.col-xs-pull4 {
    right: 33.33333%;
}

.col-xs-pull5 {
    right: 41.66667%;
}

.col-xs-pull6 {
    right: 50%;
}

.col-xs-pull7 {
    right: 58.33333%;
}

.col-xs-pull8 {
    right: 66.66667%;
}

.col-xs-pull9 {
    right: 75%;
}

.col-xs-pull10 {
    right: 83.33333%;
}

.col-xs-pull11 {
    right: 91.66667%;
}

.col-xs-pull12 {
    right: 100%;
}

.col-xs-push0 {
    left: auto;
}

.col-xs-push1 {
    left: 8.33333%;
}

.col-xs-push2 {
    left: 16.66667%;
}

.col-xs-push3 {
    left: 25%;
}

.col-xs-push4 {
    left: 33.33333%;
}

.col-xs-push5 {
    left: 41.66667%;
}

.col-xs-push6 {
    left: 50%;
}

.col-xs-push7 {
    left: 58.33333%;
}

.col-xs-push8 {
    left: 66.66667%;
}

.col-xs-push9 {
    left: 75%;
}

.col-xs-push10 {
    left: 83.33333%;
}

.col-xs-push11 {
    left: 91.66667%;
}

.col-xs-push12 {
    left: 100%;
}

.col-xs-offset0 {
    margin-left: 0%;
}

.col-xs-offset1 {
    margin-left: 8.33333%;
}

.col-xs-offset2 {
    margin-left: 16.66667%;
}

.col-xs-offset3 {
    margin-left: 25%;
}

.col-xs-offset4 {
    margin-left: 33.33333%;
}

.col-xs-offset5 {
    margin-left: 41.66667%;
}

.col-xs-offset6 {
    margin-left: 50%;
}

.col-xs-offset7 {
    margin-left: 58.33333%;
}

.col-xs-offset8 {
    margin-left: 66.66667%;
}

.col-xs-offset9 {
    margin-left: 75%;
}

.col-xs-offset10 {
    margin-left: 83.33333%;
}

.col-xs-offset11 {
    margin-left: 91.66667%;
}

.col-xs-offset12 {
    margin-left: 100%;
}

@media (min-width: 768px) {

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }

    .col-sm-1 {
        width: 8.33333%;
    }

    .col-sm-2 {
        width: 16.66667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33333%;
    }

    .col-sm-5 {
        width: 41.66667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33333%;
    }

    .col-sm-8 {
        width: 66.66667%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33333%;
    }

    .col-sm-11 {
        width: 91.66667%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-pull0 {
        right: auto;
    }

    .col-sm-pull1 {
        right: 8.33333%;
    }

    .col-sm-pull2 {
        right: 16.66667%;
    }

    .col-sm-pull3 {
        right: 25%;
    }

    .col-sm-pull4 {
        right: 33.33333%;
    }

    .col-sm-pull5 {
        right: 41.66667%;
    }

    .col-sm-pull6 {
        right: 50%;
    }

    .col-sm-pull7 {
        right: 58.33333%;
    }

    .col-sm-pull8 {
        right: 66.66667%;
    }

    .col-sm-pull9 {
        right: 75%;
    }

    .col-sm-pull10 {
        right: 83.33333%;
    }

    .col-sm-pull11 {
        right: 91.66667%;
    }

    .col-sm-pull12 {
        right: 100%;
    }

    .col-sm-push0 {
        left: auto;
    }

    .col-sm-push1 {
        left: 8.33333%;
    }

    .col-sm-push2 {
        left: 16.66667%;
    }

    .col-sm-push3 {
        left: 25%;
    }

    .col-sm-push4 {
        left: 33.33333%;
    }

    .col-sm-push5 {
        left: 41.66667%;
    }

    .col-sm-push6 {
        left: 50%;
    }

    .col-sm-push7 {
        left: 58.33333%;
    }

    .col-sm-push8 {
        left: 66.66667%;
    }

    .col-sm-push9 {
        left: 75%;
    }

    .col-sm-push10 {
        left: 83.33333%;
    }

    .col-sm-push11 {
        left: 91.66667%;
    }

    .col-sm-push12 {
        left: 100%;
    }

    .col-sm-offset0 {
        margin-left: 0%;
    }

    .col-sm-offset1 {
        margin-left: 8.33333%;
    }

    .col-sm-offset2 {
        margin-left: 16.66667%;
    }

    .col-sm-offset3 {
        margin-left: 25%;
    }

    .col-sm-offset4 {
        margin-left: 33.33333%;
    }

    .col-sm-offset5 {
        margin-left: 41.66667%;
    }

    .col-sm-offset6 {
        margin-left: 50%;
    }

    .col-sm-offset7 {
        margin-left: 58.33333%;
    }

    .col-sm-offset8 {
        margin-left: 66.66667%;
    }

    .col-sm-offset9 {
        margin-left: 75%;
    }

    .col-sm-offset10 {
        margin-left: 83.33333%;
    }

    .col-sm-offset11 {
        margin-left: 91.66667%;
    }

    .col-sm-offset12 {
        margin-left: 100%;
    }
}

@media (min-width: 992px) {

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        float: left;
    }

    .col-1 {
        width: 8.33333%;
    }

    .col-2 {
        width: 16.66667%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33333%;
    }

    .col-5 {
        width: 41.66667%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33333%;
    }

    .col-8 {
        width: 66.66667%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33333%;
    }

    .col-11 {
        width: 91.66667%;
    }

    .col-12 {
        width: 100%;
    }

    .col-pull0 {
        right: auto;
    }

    .col-pull1 {
        right: 8.33333%;
    }

    .col-pull2 {
        right: 16.66667%;
    }

    .col-pull3 {
        right: 25%;
    }

    .col-pull4 {
        right: 33.33333%;
    }

    .col-pull5 {
        right: 41.66667%;
    }

    .col-pull6 {
        right: 50%;
    }

    .col-pull7 {
        right: 58.33333%;
    }

    .col-pull8 {
        right: 66.66667%;
    }

    .col-pull9 {
        right: 75%;
    }

    .col-pull10 {
        right: 83.33333%;
    }

    .col-pull1 {
        right: 91.66667%;
    }

    .col-pull12 {
        right: 100%;
    }

    .col-push0 {
        left: auto;
    }

    .col-push1 {
        left: 8.33333%;
    }

    .col-push2 {
        left: 16.66667%;
    }

    .col-push3 {
        left: 25%;
    }

    .col-push4 {
        left: 33.33333%;
    }

    .col-push5 {
        left: 41.66667%;
    }

    .col-push6 {
        left: 50%;
    }

    .col-push7 {
        left: 58.33333%;
    }

    .col-push8 {
        left: 66.66667%;
    }

    .col-push9 {
        left: 75%;
    }

    .col-push10 {
        left: 83.33333%;
    }

    .col-push11 {
        left: 91.66667%;
    }

    .col-push12 {
        left: 100%;
    }

    .col-offset0 {
        margin-left: 0%;
    }

    .col-offset1 {
        margin-left: 8.33333%;
    }

    .col-offset2 {
        margin-left: 16.66667%;
    }

    .col-offset3 {
        margin-left: 25%;
    }

    .col-offset4 {
        margin-left: 33.33333%;
    }

    .col-offset5 {
        margin-left: 41.66667%;
    }

    .col-offset6 {
        margin-left: 50%;
    }

    .col-offset7 {
        margin-left: 58.33333%;
    }

    .col-offset8 {
        margin-left: 66.66667%;
    }

    .col-offset9 {
        margin-left: 75%;
    }

    .col-offset10 {
        margin-left: 83.33333%;
    }

    .col-offset11 {
        margin-left: 91.66667%;
    }

    .col-offset12 {
        margin-left: 100%;
    }
}

@media (min-width: 1200px) {

    .col-lg1,
    .col-lg2,
    .col-lg3,
    .col-lg4,
    .col-lg5,
    .col-lg6,
    .col-lg7,
    .col-lg8,
    .col-lg9,
    .col-lg10,
    .col-lg11,
    .col-lg12 {
        float: left;
    }

    .col-lg1 {
        width: 8.33333%;
    }

    .col-lg2 {
        width: 16.66667%;
    }

    .col-lg3 {
        width: 25%;
    }

    .col-lg4 {
        width: 33.33333%;
    }

    .col-lg5 {
        width: 41.66667%;
    }

    .col-lg6 {
        width: 50%;
    }

    .col-lg7 {
        width: 58.33333%;
    }

    .col-lg8 {
        width: 66.66667%;
    }

    .col-lg9 {
        width: 75%;
    }

    .col-lg10 {
        width: 83.33333%;
    }

    .col-lg11 {
        width: 91.66667%;
    }

    .col-lg12 {
        width: 100%;
    }

    .col-lg-pull0 {
        right: auto;
    }

    .col-lg-pull1 {
        right: 8.33333%;
    }

    .col-lg-pull2 {
        right: 16.66667%;
    }

    .col-lg-pull3 {
        right: 25%;
    }

    .col-lg-pull4 {
        right: 33.33333%;
    }

    .col-lg-pull5 {
        right: 41.66667%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull7 {
        right: 58.33333%;
    }

    .col-lg-pull8 {
        right: 66.66667%;
    }

    .col-lg-pull9 {
        right: 75%;
    }

    .col-lg-pull-10 {
        right: 83.33333%;
    }

    .col-lg-pull11 {
        right: 91.66667%;
    }

    .col-lg-pull12 {
        right: 100%;
    }

    .col-lg-push0 {
        left: auto;
    }

    .col-lg-push1 {
        left: 8.33333%;
    }

    .col-lg-push2 {
        left: 16.66667%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push4 {
        left: 33.33333%;
    }

    .col-lg-push5 {
        left: 41.66667%;
    }

    .col-lg-push6 {
        left: 50%;
    }

    .col-lg-push7 {
        left: 58.33333%;
    }

    .col-lg-push8 {
        left: 66.66667%;
    }

    .col-lg-push9 {
        left: 75%;
    }

    .col-lg-push10 {
        left: 83.33333%;
    }

    .col-lg-push11 {
        left: 91.66667%;
    }

    .col-lg-push12 {
        left: 100%;
    }

    .col-lg-offset0 {
        margin-left: 0%;
    }

    .col-lg-offset1 {
        margin-left: 8.33333%;
    }

    .col-lg-offset2 {
        margin-left: 16.66667%;
    }

    .col-lg-offset3 {
        margin-left: 25%;
    }

    .col-lg-offset4 {
        margin-left: 33.33333%;
    }

    .col-lg-offset5 {
        margin-left: 41.66667%;
    }

    .col-lg-offset6 {
        margin-left: 50%;
    }

    .col-lg-offset7 {
        margin-left: 58.33333%;
    }

    .col-lg-offset8 {
        margin-left: 66.66667%;
    }

    .col-lg-offset9 {
        margin-left: 75%;
    }

    .col-lg-offset10 {
        margin-left: 83.33333%;
    }

    .col-lg-offset11 {
        margin-left: 91.66667%;
    }

    .col-lg-offset12 {
        margin-left: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}