.nav .top-menu {
  padding: 12px 0;
  width: 100%;
  float: left;
  position: relative;
}

.nav .top-menu:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: #fbf2eb;
}

.nav .menu-2 {
  padding: 2em 0;
}

.nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  font-weight: 700;
}

.nav ul li a {
  font-size: 14px;
  padding: 30px 15px;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav ul li a:hover,
.nav ul li a:focus,
.nav ul li a:active {
  color: black;
}

.nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: #000000;
}

.nav ul li a:hover,
.nav ul li a:focus,
.nav ul li a:active {
  color: black;
}

.nav ul li.active>a {
  color: #000 !important;
  position: relative;
}

.nav ul li.active>a:before {
  position: absolute;
  bottom: 11px;
  left: 0;
  right: 0;
  content: '';
  width: 40%;
  height: 1px;
  margin: 0 auto;
  background: #000;
}

.user-links{
  top: 20px;
}

.icons{
  top: -15px
}

.welcome-msg{
  margin-right: 5px;
}

.logout-btn{
  color: #fbf2eb !important;
}

/* Logo */
.nav .logo {
  font-size: 50px;
  margin: 0;
  font-weight: 700;
  font-family: "Sacramento", cursive;
  color: #1d2f3b;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: table;
  position: relative;
}

.nav .logo:before {
  position: absolute;
  top: -10px;
  bottom: 0;
  left: -10px;
  right: 0;
  width: 150px;
  height: 150px;
  background: #fbf2eb;
  content: "";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.nav .logo .logo-slogan {
  font-family: "Sacramento", cursive !important;
  font-size: 50px;
  margin-bottom: 0;
  width: inherit;
  width: 150px;
  height: 150px;
  display: table-cell;
  vertical-align: middle;
  line-height: 32px;
  position: relative;
  border: 1px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.logo-slogan span {
  color: #1d2f3b;
}

.logo-slogan small {
  font-family: "Josefin Slab", Arial, serif;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .nav .menu-1 {
    display: none;
  }

  .nav .social-icons {
    text-align: left;
  }

  .nav-toggle {
    display: block;
  }
}