.staff {
    text-align: center;
    margin-bottom: 30px;
}

.staff img {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
}

.staff h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.staff p {
    margin-bottom: 30px;
}