.no-pd-top {
  padding-top: 1.5em !important;
}

.loader{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: static;
  width: 50%;
  height: 100%;
  z-index: 9999;
}

.blog {
  margin-bottom: 3em;
  width: 100%;
  float: left;
}

.blog>a {
  display: block;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.blog>a img {
  width: 100%;
}

.blog .title {
  margin-bottom: 40px;
}

.blog .title.title-pin h3 {
  font-size: 34px;
}

.blog .title.title-pin h3 a {
  color: #000;
}

.blog .title h3 {
  font-size: 24px;
}

.fh5co-blog .title h3 a {
  color: #000;
}

.blog .title .posted-on {
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
  font-weight: 700;
  font-size: 15px;
}

.blog .title .category {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;
}

.blog .title .category:before {
  position: absolute;
  top: 5px;
  left: -120px;
  right: 0;
  bottom: 0;
  content: '';
  width: 100px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.08);
}

.blog .title .category:after {
  position: absolute;
  top: 5px;
  right: -120px;
  bottom: 0;
  content: '';
  width: 100px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.09);
}

.blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding: 30px;
  float: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}

.blog .blog-text span {
  display: inline-block;
  margin-bottom: 20px;
}

.blog .blog-text span.comment {
  float: right;
}

.blog .blog-text span.comment a {
  color: rgba(0, 0, 0, 0.3);
}

.blog .blog-text span.comment a i {
  color: #1d2f3b;
  padding-left: 7px;
}

.blog .blog-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: 600;
}

.blog .blog-text h3 a {
  color: black;
}

.blog .blog-text .social-icons {
  margin-top: 30px;
}

.blog .blog-text .social-icons li a i {
  font-size: 30px;
}

.blog .blog-text .social-icons li:first-child {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
}

.colpadded-right {
  padding-right: 2em !important;
}

/*  Media Queries  */
@media screen and (max-width: 768px) {
  .className {
    padding: 3em 0;
    width: 100%;
  }

  .colpadded-right {
    padding-right: 15px !important;
  }
}