footer {
    margin: 0;
    padding: 4em 0;
    clear: both;
    background-color: #efefef;
    margin-top: 30px;
}

.footer .footer-links li {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

.footer .footer-links li a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.footer .footer-links li a:hover{
    text-decoration: underline;
}

.footer .footer-links li i {
    margin-right: 8px;
}

.footer .widget h3 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer .widget .social-icons {
    margin-top: 15px;
}

#footer .copyright .block {
    display: block;
}

.footer .copyright a{
    text-decoration: none;
}


/*  Media Queries  */
@media screen and (max-width: 768px) {
    .footer {
        padding: 3em 0;
    }

    .footer .widget {
        text-align: left;
    }

    .footer .footer-links {
        margin-bottom: 30px;
    }
}